#root {
  margin: 0 auto;
  /* padding: 0rem;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #172554;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px; */
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  scroll-behavior: smooth;
  background-color: #0b1228;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure the main container spans the full width */
  height: 100%;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
}

.container {
  flex: 1;
  /* position: fixed; */
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0b1228;
  inset: 0;
  pointer-events:all;
  overflow: hidden;
}

.star {
  position: fixed;
  z-index: -.5;
  width: 4px;
  height: 4px;
  background-color: #00b8e6;
  border-radius: 50%;
  opacity: 0;
  /* transition: filter 0.3s ease, opacity 0.3s ease; */
  animation: shoot 3s ease-in-out forwards, fadeIn 3s ease-in-out forwards;
}

.star.blur {
  filter: blur(0.5rem) brightness(90%); /* Apply blur and darken effect */
}

@keyframes shoot {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 100px); /* Adjust for diagonal shooting */
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1; /* Star fully visible at halfway through */
  }
  100% {
    opacity: 0; /* Fade out at the end */
  }
}
